html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 100%;
}
body {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100vh;
    text-align: center;
    align-items: center;
    width: 90%;
    font-size: 19px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8) fixed;
}
.container {
    align-items: center;
}
.iframe {
    /*border: 0;*/
    width: 60vw;
    height: 78vh;
    border: 10px solid white;
    border-radius: 10%;
    background-color: white;
}
.image1 {
    background: url(img/chair.jpg) no-repeat center;
    background-size: 35%;
    background-color: white;
    width: 50%;
    height: 48%;
    /*margin: 5%;*/
    margin-left:25%;
    border: 10px solid white;
    border-radius: 10%;
}
.list1 {
    padding:0;
    margin-left:10%;
    display: flex;
    list-style: none;
    justify-content:left;
}
.list2 {
    text-align: left;
}
.text {
    width: 80%;
    text-align: justify;
    margin-left: 10%;
}
.alert {
    font-size: 21px;
}
