html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 100%;
}
body {
    height: 100vh;
}
.container {
    position: absolute;
    left: 50%;
    transform: translate(-28%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}